

.grid-wrapper{
    display: grid;
    background: #edeef0;
    grid-template-columns: 70% 30%;
    grid-gap: 15px;
    padding-bottom: 5%;
    padding-right: 22%;
    padding-left: 20%;
   grid-template-areas:
    "news-title news-title"
        "api-content twitter-content";

}
.news-title{
    font-size: 50px;
    justify-self: center;
    grid-area: news-title;
    padding-top: 5%;
    font-family: 'Great Vibes', cursive ;
    font-size: 40px;
}



.api-content{
    grid-area: api-content;
   
}

.twitter-content{
    grid-area: twitter-content;
    display: grid;
    padding-top: 12%;
}


.headline img{
    width: 100%;
}

.card img{
    width: 100%;
}
.card1 img{
    width: 100%;
}

.card2 img{
    width: 100%;
}

.card3 img{
    width: 100%;
}
.tweet img{
    width: 100%;
}




/* MEDIA QUERY FOR DESKTOP/LAPTOP*/

@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 
    .grid-wrapper{
        grid-template-columns: 70% 1fr;
        grid-gap: 20px
    }
  
}

@media only screen and (max-width: 1024px) {


    .grid-wrapper{
    padding-right: 15%;
    padding-left: 15%;
    }
    }
    



/* STYLES FOR NAVBAR ON MOBILE*/
@media only screen and (max-width: 600px) {
.grid-wrapper{
    display: grid;
    padding-left: 4%;
    padding-right: 4%;
    background: #edeef0;
    grid-template-columns: 1fr;
    grid-gap: 35px;
    grid-template-areas:
    "news-title"
        "headline-article"
        "api-content"
        "twitter-content";
}

.news-title{
    padding-top: 15%;
}

.news-title h1{
    margin-bottom: 0;
}

}
