.footer{
    display: grid;
    height: 50px;

   margin-bottom: -50px;
    background: #9fdeaf;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
    ". copyright ."
}

.copyright{
    justify-self: center;
    align-self: center;
    color: black;
    grid-area: copyright;
}