.landing-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 10%;
    padding-right: 15%;
    padding-left: 15%;
    grid-template-areas:
        "landing-title landing-title landing-title"
        "landing-content landing-content landing-content"
        "site-links site-links site-links";
}

.landing-title{
    grid-area: landing-title;
    font-size: 40px;
    display: grid;
}
.landing-title h1{
    justify-self: center;
    font-family: 'Great Vibes', cursive ;
}

.landing-content{
    grid-area: landing-content;
    justify-self: center;
    display: grid;
    padding-right: 10%;
    padding-left: 10%;
}
.landing-content p{
    line-height: 2.5rem;
    font-size: 18px;
}