/*body {
    padding: 0px;
    margin: 0px;
  }


.nav-container{
    display: grid;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 70px;
    background-color: #173753;
    grid-template-columns: 20% 250px 26% 1fr 1fr 1fr 1fr 1fr 18%;
    grid-template-areas:
    ". logo . home-link sports-link tech-link music-link sign-in-link ."
}
.nav-container a{
  display: inline-block;
/*padding: 8px 8px 8px 8px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-container a:hover{
    background-color: #69A2B0;
}

.logo{
    grid-area: logo;
    font-size: 26px!important;
    padding: 5px;
    align-self: center;
    justify-self: center;
}
.home-link{
    grid-area: home-link;
   padding: 5px;
   align-self: center;
   justify-self: center;
}
.sports-link{
    grid-area: sports-link;
    padding: 5px;
    align-self: center;
    justify-self: center;
}
.music-link{
    grid-area: music-link;
    padding: 5px;
    align-self: center;
    justify-self: center;
}
.tech-link{
    grid-area: tech-link;
    padding: 5px;
    align-self: center;
    justify-self: center;
}
.sign-in-link{
    grid-area: sign-in-link;
    padding: 5px;
    align-self: center;
    justify-self: center;
}


.hamburger-menu{
  background: black;
}
*/








/* MEDIA QUERY FOR DESKTOP/LAPTOP
  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

    .nav-container{
    grid-template-columns: 11% 250px 20% 1fr 1fr 1fr 1fr 1fr 16%;
    }
    .nav-container a{
      font-size: 16px;
    }
}
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;

}
.nav-header{
  padding-left: 25%;
}
.nav-links{
  padding-right: 25%;
}
.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}